{% extends 'base.html' %}

{% block content %}


<div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Accessible online banking  </h5>
      <p class="card-text">It only takes a few easy steps to register for Online Banking, which makes managing 
        your money there fast and secure. You can handle bills, standing orders, and direct debits, 
        as well as pay people and check your balance.</p>
     
    </div>
  </div>
  
  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bringing personal service back to banking </h5>
      <p class="card-text"> There is no need to schedule an appointment; simply drop by whenever
     is convenient for you.View the opening times for our shop. </p>
     
    </div>
  </div>
  
  <div class="card text-end" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Banking. Though superior </h5>
      <p class="card-text">You will always know precisely what you're receiving because we keep our
        products simple and do the same with our rates and charges. No more unpleasant
        details in the fine print. </p>
      
    </div>
  </div>



{% endblock %}
