{%extends 'base.html'%}

{% block content %}
  <!-- 
 <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Call us</h5>
      <p class="card-text">Choose what you need assistance with, and get in touch with the appropriate parties
        as soon as you can.<br> 
       Call us on +233-205043337<br>
       Email. col@gmail.com</p></div>
       <div class="card-body">
        <h5 class="card-title">Can contact us on online</h5>
        <p class="card-text">COn Facebook and Twitter, our support staff are here to assist you from Monday
            through Friday, 8 am to 6 pm, and from 9 am to 5 pm on the weekends.</p></div>
     </div>-->
     {% load static %}
 


     <div class="card mb-3" style="max-width: 540px; margin:20px 160px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/download.png' %}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><u>Call us</u></h5>
              <p class="card-text">TChoose what you need assistance with, and get in touch with the appropriate parties
                as soon as you can.<br> 
               Call us on +233-205043337<br>
               Email. col@gmail.com</p>
              
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3 " style="max-width: 540px; margin:20px 160px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'img/contact-icon-png-0.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><u>Can contact us on online</u></h5>
              <p class="card-text">On Facebook and Twitter, our support staff are here to assist you from Monday
                through Friday, 8 am to 6 pm, and from 9 am to 5 pm on the weekends.</p>
            
            </div>
          </div>
        </div>
      </div>

{% endblock %}