{% extends 'base.html' %}

{% block content %}
<div class="main1">
    <div class="left">
    <ul>
        <li><a href="1new page.html"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><i class="fa fa-ils"></i>Payment<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Transfer</li>
        <li><i class="fa fa-money withdraw"></i>Withdraw<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Cash</li>
        <li><i class="fa fa-undo"></i>Transaction</li>
        <li><i class="fa fa-money"></i><a href="{% url 'deposit.create' %}">Deposit</a><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cash</li>
        <li><a href="1new page.html"><img src="img/126467.png"/>Logout </a></li>
    </ul>
</div>
<div class="detail">
<h1>Welcome, Ammy!</h1>
<h3>Have a great day</h3>
<h2>Your Account details</h2>
<div class="ac">
<p><b>Account No </b> 12345678<br><br>
<b>Sort Code:</b> 00-11-22</p>
</div>
<div class="ac">
    <p><b>Total balance</b> £2,300,56<br><br>
        <b>Account Status</b> Saving
    <br><b>Active</b></p>

</div>
<div class="sec2">
    <h1>Recent Transaction </h1>
    <div class="sec2">
        <ul>
            <li><b>Transaction Name</b></li>
            <li><b>Amount</b></li>
            <li><b>Date</b></li>
            <li><b>Time</b></li>
        </ul>

       
   <div class="sec2">
    <ul>
        <li><i class="fa fa-coffee"></i>Restaurant Food</li>
        <li>$8</li>
        <li>20.02.23</li>
        <li>11.00am</li>
    
    </ul>
   </div>
   <div class="sec2">
    <ul>
        <li><i class="fa fa-money"></i>From Joy</li>
       <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;$150</li>
      <li>&nbsp; 15.02.23</li>
        <li>08.00pm</li>
    
    </ul>
   </div>
   <div class="sec2">
    <ul>
        <li><i class="fa fa-shopping-cart"></i>Shopping<br> Cashback</li>
       <li>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;$20</li>
      <li>&nbsp; 10.02.23</li>
        <li>02.00pm</li>

    </ul>
   </div>
   <div class="sec2">
    <ul>
        <li><i class="fa fa-gift"></i>for Tom's Gift</li>
       <li>&nbsp; &nbsp; &nbsp; &nbsp; $30</li>
      <li>&nbsp; 05.02.23</li>
        <li>05.00pm</li>

    </ul>
   </div>
</div>
</div>

</div>
<div class="sec3">
    <img src="./img/46-463474_free-person-icon-transparent-female-icon.png">
    <h2>Ammy</h2>
    <div class="line"></div>
    <ul>
        <li><a href="main.html"><i class="fa fa-inbox"></i>Inbox</a></li>
        <li><a href="main.html"><i class="fa fa-users"></i></a>Service</li>
        <li><a href="main.html"><i class="fa fa-gear"></i>Account<br>Setting</a></li>
        <li><a href="main.html"><i class="fa fa-sticky-note-o"></i>Statement</a></li>
        <li><a href="main.html"><i class="fa fa-id-badge"></i>Support</a></li>
    </ul>
</div>
</div>

    {% endblock %}