<html>
    <head>
<link rel="stylesheet" href="./style.css"> 

    </head>
    <body>
<div class="form">
    <form>
    <h2>Registration form</h2>
   <p class="p"> Full Name:<input type="text" class="txtarea"/></p>
   <p class="p"> Create<br> Password: <input type="password" value="FakePSW" id="myInput" class="txtarea"></p>
   <p class="p"> Confirm <br>Password:<input type="password" value="FakePSW" id="myInput" class="txtarea"></p>
   <p class="p1"> DOB:<input type="date" id="birthday" name="birthday" class="bday">
    </p>
   <p class="p1"> Email:<input type="text" class="txtarea"/></p>
   <p class="p"> Account Type:
    <p class="p2">Saving <input type="radio" name="Saving Account" class="radio"></p>
    <p class="p2">Curent <input type="radio" name="Curent Account" class="radio"></p>
</form>
<div class="bt1">
    <button type="submit" value="input button" class="btn"><a href="form.html" class="bt2">Register</a></button>
<button type="submit" value="input button" class="btn"><a href="login.html" class="bt2">Login</a></button>
</div></div>

    </body>
</html>