<html>
    <head>
<link href="./style.css" rel="stylesheet">

    </head>
    <body>
        <div class="log">

            <h2 class="h2"> User Name</h2>
            <input type="text" class="un"/>
            <h2 class="h2">Password</h2>
            <input type="password" value="FakePSW" id="myInput" class="un"/>
            <div class="bt1">
               
            <button type="submit" value="input button" class="login"><a href="main.html" class="bt2"><p>Login</p></a></button>
            </div>
        </div>
    </body>
</html>