/*main page css */
.main
{margin:auto;
background-image:url('./Img/kudi.jpg');
max-width: 1200px;
height: 1000px;
background-repeat: no-repeat;

overflow: hidden;


}

nav
{width: 80%;

margin: 20px 0 0 122px;
background-color:#ffffff;
height: 90px;
border-radius: 30px;
overflow: hidden;
}
.logo{

    float: left;
    width: 20%;
}
.logo img{
    height: 80px;
    width: 80px;
    margin-left: 80px;
    margin-top: 11px;
}
.menu_list
{
    width: 80%;
    float: right;
   color: #03386D;
   font-family: 'Inter';
font-style: normal;

}
.menu_list ul{
   
    list-style: none;
}
.menu_list ul li{
    float: left;
    padding: 18px;
    /* padding-right: 0px; */
    margin-left: 45px;
}
.menu_list ul li a{
    text-decoration: none;
    cursor: pointer;
}
.button{

    background: #03386D;
border-radius: 10px;
color: #ffffff;
margin: 15px;

height: 27px;
}
.button a{
    text-decoration: none;
    cursor: pointer;
}
.a{
    text-decoration: none;
    cursor: pointer;
}
.fa
{
    padding: 3px;
}
.txt
{

    width: 460px;
    height:241px;
    margin-left: 64px;
    margin-top: 319px;
    background: rgba(255, 243, 243, 0.75);
    border-radius: 99px;}
.txt h2{

    color: #03386D;
    padding: 36px;
    text-align: center;
    font-size: 37px;
}


.txt p{
    font-size: 15px;
    padding: 10px;
    margin-left: 31px;
    color: #03386D;
    margin-top: -31px;
}
/* main page end*/

/* Form css*/
.form{
   margin:0 auto;
   background:linear-gradient(166.77deg, rgba(164, 208, 252, 0.7252), rgba(219, 238, 247, 0.74));
 width: 701px;
   height: 732px;

}
.form h2{
    text-align: center;
    padding: 20px;
}
.txtarea
{ border-radius: 30px;
    background-color: #ffffff;
    border: none;
    height: 55px;
    width: 458px;
    margin-left: 46px;
    text-align: center;
}
.p
{
    margin-left: 40px;
    font-family: arial;
}
.p1{ margin-left: 73px;
    font-family: arial;

}
.p2{
    margin-left: 182px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -21px;
    float: left;
}
.bday
{ border-radius: 30px;
    background-color: #ffffff;
    border: none;
    height: 55px;
    width: 458px;
    margin-left: 46px;
    text-align: center;}

    #myInput{
    text-align: center;}
    .account{
        height: 30px;
        width: 150px;
        border: none;
        border-radius: 30px;
        margin-left:4px;}
   
        .radio{ 
            margin-top: 2px;
            margin-left: 3px;
        }
        .bt1{
            width: 100%;
            overflow: hidden;
            text-align: center;
                margin-top: 100px;}
        .btn{

            background: #03386D;
            border-radius: 10px;
            color: #ffffff;
            margin: 15px;
            
            width: 97px;
    height: 50px;
        }
        .btn:hover{
            background-color: darkred;
            color: #ffffff;
        }
        
        .bt2{
            text-decoration: none;
            color: #ffffff;
            cursor: pointer;
        }
        /*End form css*/


        /*login css*/
        .log
        {background: linear-gradient(166.77deg, rgba(164, 208, 252, 0.7252), rgba(219, 238, 247, 0.74));
            border: 1px solid #000000;
    border-radius: 120px;
    width: 500px;
    height: 500px;
    float: left;
    margin: 20px 0 0 400px;
    overflow: hidden;
        }
.login{

    background: #03386D;
            border-radius: 10px;
            color: #ffffff;
            margin: 15px;
            
            width: 150px;
    height: 50px;
}
            
.bt2 p{
    
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    margin: 0;
}        
.un{
    background: #FFFCFC;
border: 1px solid #000000;
border-radius: 28px;
width: 300px;
height: 56px;
margin-left: 101px;
margin-top: 10px;
}
.h2{
    text-align: center;
    margin-top:40px;
    font-family: Arial, Helvetica, sans-serif;
}
/*end login css*/

/*main css*/
.main1{
    margin: auto;
    overflow: hidden;
    background: linear-gradient( 180deg, rgba(203, 225, 238, 1),rgba(203, 225, 238, 0));
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.left{
    background:linear-gradient(rgba(219, 238, 246, 1)
    rgba(53, 80, 91, 0));
    width: 311px;
height: 800px;
margin-left: 13px;
margin-top: 60px;
box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.43);
border-radius: 49px; 
float: left;
}
.left ul{
    list-style: none;

}
.left ul li{
    padding: 35px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;
}
.left ul li i{
    margin-right: 5px;
}
.left ul li img{height: 15px;
width: 15px;
margin-right: 5px;}

.left ul li a{
    text-decoration: none;
    color: #000000;
}
.detail{

    width: 600px;
    float:left;
    overflow: hidden;
    margin-top: 60px;
}
.detail h1{
    text-align: center;
}
.detail h3{
    text-align: center;
    margin-top: -10px;
}
.detail h2{
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left:80px;
}
.detail p{
    margin-left: 80px;
    margin-bottom: 0%;
    
}
.ac{
    width: 300px;
    height:140px;
    float: left;
}
.sec2{
    
    width: 600px;
    float: left;
    background: #FFFCFC;
box-shadow: blur(5px);
position:sticky;
margin-left: 20px;
text-align: center;
padding-bottom: 10px;
}
.s1{
    width: 150px;
    float: left;

}
.s1 h4{
    font-size: small;
    
}
.sec2 ul
{list-style: none;
    margin-top: 0%;
}
.sec2 ul li{
    float: left;
    padding: 20px;
    margin-top: 0;
}
.sec2 ul li i{
    margin-right: 5px;
}
.sec3
{    width: 311px;
    height: 800px;
    background:#CBE1EE;
    box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.43);
    float: left;
    margin-top: 60px;
    text-align: center;
}
.sec3 img
{border-radius: 50%;
width: 150px;
height: 150px;
margin-top: 50px;
}
.line
{width: 100px;
    height:10px;
margin-left: 110px;
    margin-top:-10px;
    
    background: #03386D;}
    .sec3 ul{
        list-style: none;
    
    }
    .sec3 ul li{
        padding: 5px;
        text-decoration: none;
        font-size: 20px;
        margin-top: 60px;
        font-style: bold;
    }
    .sec3 ul li i{
        margin-right:0px;
    
        margin-bottom: 0px;
    }
    .sec3 ul li img{height: 15px;
    width: 15px;
    margin-right: 5px;}
    
    .sec3 ul li a{
        text-decoration: none;
        color: #000000;
    }
/*end main css*/